<h3>Product List</h3>
<div *ngIf="products">
    <table border="1" class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td> <button type="button" class="btn btn-danger" (click)="edit(product.id)">Edit</button>
                 &nbsp;<button type="button" class="btn btn-success" (click)="delete(product.id)">Delete</button></td>
        </tr>
    </table>
</div>